:root{
    --grey-color: #f4f6f8;
    --purple-color: #3e4095;
    --orange-color: #ff6f21;
}

/* .primary{
    background-color: var(--purple-color);
    color:#fff;
} */
.grid-2{
    display:grid;display: grid;grid-template-columns: 1fr 5fr;height:100%;
}
.flex{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height:100%;
}
.title{
    font-weight:normal !important;
}

hr{
    background-color:#dcdadf !important;
}
form .label{
    font-weight:400;
}
form{
    width: 100%;
    max-width: 1024px;
}
button.round{
    font-size: 1.5em;
    color: var(--purple-color);
    border: 1px solid var(--purple-color) !important;
    border-radius: 100%;
    padding: 1.4em 1em;
    background:transparent;
}
.right{
    float:right;
}
.date-input{
    padding:0.8em;
    font-size:1em;
    background-color: #fff !important;
    border:1px solid #dbdbdb;
    border-radius: 4px;
    color:#363636;
    outline:none;
}
button.next{
    position: absolute;
    right: 1.5em;
    bottom: 3em;

    font-size: 14px;
    font-weight: bold;
    background: var(--purple-color);
    color: #fff !important;
}
button.next:hover{
    color:#fff;
}
button.previous{
    position: absolute;
    left: 1.5em;
    bottom: 3.5em;
    background-color: transparent;
    border:none;
    color:#757575;
    font-weight:bold;
    cursor:pointer
}
input[name="orderDate"]{
    background:transparent !important;
}
.content{
    overflow-y: scroll;
    /* overflow:hidden; */
}

.mb-80{
    margin-bottom: 80px;
}
#form-fields{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.center{
    text-align: center !important;
}
.divider-40{
    height:40px;
    width:100%;
}
.text-underline{
    text-decoration: underline;
}